<div class="row" >
    <div class="col-md-12  slightly-transparent " style="text-align:center;">
        <div class="jumbotron other-color sharp-bottom-borders  artist-content-drk-thin-border" ng-style="{'opacity':'.9'}" style="background:url({{homeImages[currentImage].src}}) no-repeat center center; height:170px; margin-bottom: 0px; background-size: 100%;">
            <h1>ABOUT US</h1>
        </div>
        <!--<center><img ng-src="{{homeImages[currentImage].src}}" class="img-responsive curved-bottom-borders curved-top-borders slightly-transparent" style="margin:auto; display:block;" onclick="javascript: ShowBuyPanel(this, event)" /></center>-->
    </div>
    <div class="col-md-12" style="top:0px;">
        <div class="jumbotron other-color sharp-top-borders  artist-content-drk-thin-border" ng-style="{'opacity':'.9'}">

            <p style="color: burlywood;">
                We <strong style="color: whitesmoke;">INNOVATE</strong> at <strong style="color: whitesmoke;">THETHINGSWECREATE</strong>.
                <br/>Working out of our creative space in East London, we are busy getting ready to release a revolutionary new product!
                <br/><strong style="color: whitesmoke;">"ONE IN EVERY BOX"</strong> is more than just a business goal. It represents BALANCE - a core theme in our creative and buisiness process.
                <br /><br />
                We have started our CAMPAIGN to <strong style="color: whitesmoke;"> bring these products to market</strong>.
                <br /><br />Our services include consultation and design.
                <br /><br />
                There are <strong style="color: whitesmoke;">FOUR NEW INVENTIONS</strong> in total. All with PATENT PROTECTION (or ongoing application).
                Each one presents a revolutionary product with lucrative potential.
                <br />
                Call +44 790 952 6808 to <strong style="color: whitesmoke;">BOOK A MEETING</strong>.
</p>
        </div>
    </div>
</div>
<div class="row" id="jombotronPanel">
</div>

