<div class="row">
    <div class="col-md-12" style="text-align:center; ">
        <center><img id="landingImage" ng-src="{{homeImages[currentImage].src}}" class="img-responsive" style="margin:auto; display:block;" onclick="javascript: ShowBuyPanel(this, event)" /></center>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron other-color sharp" ng-style="{'opacity':'.9'}" ng-show="!showPACE">
            <h1><u>INNOVATIVE PRODUCTS</u></h1>
            <p style="color:bisque">
                At <font style="color: whitesmoke; font-weight:bold;">THINGSWECREATE</font>, we have invented some <strong>revolutionary tools</strong> for modern cyclists.
                &nbsp;&nbsp;&nbsp;FIRST TO <strong>LAUNCH</strong> is the <a href="#/product" target="_self"><font style="color: whitesmoke!important; font-weight: bold;"><u>STAYSTRAIGHT <i>lite</i></u></font></a> - an <strong style="color: whitesmoke;">INGENIUS TOOL</strong> for bicycle alignment.
                <br/><a href="#/product" target="_self" style="float:right;"><font style="color:burlywood!important; font-size: 12pt;">Click Here to Read about the tool</font></a>
            </p>
            <!--<p ng-style="{'opacity':'1', 'text-align':'center'}" style="line-height: 60px;">
            </p>-->
        </div>
    </div>
</div>

