<div class="row" >
    <div class="col-md-12  slightly-transparent " style="text-align:center;">
        <div class="jumbotron other-color sharp-bottom-borders  artist-content-drk-thin-border" ng-style="{'opacity':'.9'}" style="background:url({{homeImages[currentImage].src}}) no-repeat center center; height:170px; margin-bottom: 0px; background-size: 100%;">
            <h1><u>LICENSING OPTIONS</u></h1>
        </div>
        <!--<center><img ng-src="{{homeImages[currentImage].src}}" class="img-responsive curved-bottom-borders curved-top-borders slightly-transparent" style="margin:auto; display:block;" onclick="javascript: ShowBuyPanel(this, event)" /></center>-->
    </div>
    <div class="col-md-12" style="top:0px;">
        <div class="jumbotron other-color sharp-top-borders  artist-content-drk-thin-border" ng-style="{'opacity':'.9'}">
            <p style="color: burlywood;">
                The <strong style="color: whitesmoke;">STAYSTRAIGHT <i>lite</i></strong> is available for Licensing. &nbsp;PICTURE IT: <strong style="color: whitesmoke;">ONE IN EVERY BOX OF BICYCLE MADE!</strong>
                <br/>
                <strong>This provides obvious advantages for the licensor</strong>
                such as INCREASED PROFIT MARGIN, Further Control on branding and material finish.
                <br/>
                LICENSING also offers the <strong style="color: whitesmoke;">advantage</strong> of collaborating with us on FUTURE <strong style="color: whitesmoke;">LAUNCHES</strong> of our INVENTIONS.
                <br/>
                <br/>
                There are <strong style="color: whitesmoke;">FOUR NEW INVENTIONS</strong> in total. Each one presents a revolutionary product with lucrative potential.
                <br/>
                Call +44 790 952 6808 for a <strong style="color: whitesmoke;">PRODUCT DEMO & REVIEW</strong>.

            </p>
            <p style="color: burlywood;">
                As a <strong style="color: whitesmoke;">NEW PRODUCT</strong> we recommend a coordinated marketing strategy. A <strong style="color: whitesmoke;">PRODUCT LAUNCH CAMPAIGN and EVENT</strong>
                is planned <strong style="color: whitesmoke;">FOR THE NEAR FUTURE</strong>! Register your interest when you book your <strong style="color: whitesmoke;">PRODUCT DEMO & REVIEW</strong>.&nbsp;
            </p>
        </div>
    </div>
</div>
<div class="row" id="jombotronPanel">
</div>

