<div class="row" >
    <div class="col-md-12  slightly-transparent " style="text-align:center;">
        <div class="jumbotron other-color sharp-bottom-borders  artist-content-drk-thin-border" ng-style="{'opacity':'.9'}" style="background:url(../{{homeImages[currentImage].src}}) no-repeat center center; height:170px; margin-bottom: 0px; background-size: 100%;">

            <h1><u>WHOLESALE PURCHASE</u></h1>
        </div>
        <!--<center><img ng-src="{{homeImages[currentImage].src}}" class="img-responsive curved-bottom-borders curved-top-borders slightly-transparent" style="margin:auto; display:block;" onclick="javascript: ShowBuyPanel(this, event)" /></center>-->
    </div>
    <div class="col-md-12" style="top:0px;">
        <div class="jumbotron other-color sharp-top-borders  artist-content-drk-thin-border" ng-style="{'opacity':'.9'}">
            <p style="color: burlywood;">
                The <strong style="color: whitesmoke;">STAYSTRAIGHT <i>lite</i></strong> is available for purchase as wholesale. <strong>There are various finshes to choose from</strong>.
                Ordering is easy:
                <br/>
                <ul>
                    <li>   Call +44 790 952 6808 for a <strong style="color: whitesmoke;">PRODUCT DEMO & REVIEW</strong></li>
                    <li>   Place order</li>
                </ul>
            </p>
            <p style="color: burlywood;">
                As a <strong style="color: whitesmoke;">NEW PRODUCT</strong> we recommend a coordinated marketing strategy. A <strong style="color: whitesmoke;">PRODUCT LAUNCH CAMPAIGN and EVENT</strong>
                is planned <strong style="color: whitesmoke;">FOR THE NEAR FUTURE</strong>! Register your interest when you book your <strong style="color: whitesmoke;">PRODUCT DEMO & REVIEW</strong>.&nbsp;
            </p>
        </div>
    </div>
</div>
<div class="row" id="jombotronPanel">
</div>

